$color-red: #f1252b;
$color-yellow: #ffb219;
$color-black: #272727;
$color-white: #ffffff;
$color-green: #00a950;
$color-gray: #a0a0a0;
$color-gray-200: #b7b4ad;
$color-gray-400: #8d8d8d;
$color-redred: #bb2d2f;
$color-blue: #285dcd;
$color-yellow-200: #f3efe6;
